html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

.bg-light {
    background-color: #ef5959 !important;
}

.navbar {
    padding: 0 !important;
}

header {

    width: 100%;

}

.my-nav {
    font-size: 25px !important;
    color: white !important;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: 700 !important;
}

.my-nav:hover {
    background-color: white;
    color: #ef5959 !important;
    transform: scale(1.1);

}

.for-image img {
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.for-text {

    margin-top: 10rem;
    margin-bottom: 10rem;
}

.for-text h1,
h2 {
    font-family: 'Lobster', cursive;
}

.for-text h1 {
    font-size: 60px;
}

.for-text h2 {
    font-size: 50px;
}

.for-text h5 {
    font-family: 'Righteous', cursive;
    color: #ef5959;
    font-size: 25px;
}

.for-text button {
    padding: 10px 30px;
    background: #ef5959;

}

.for-text .btn-a {
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.for-text button:hover {
    background: white;
    border: 3px solid #ef5959;
    transform: scale(1.1);
}

.for-text button:hover .btn-a {
    color: #ef5959;
    text-decoration: none;
}

.for-text p {
    font-size: 20px;
}

#About-Me {
    width: 100%;
    height: auto;
    background: #ef5959;

}

.Am-text h1 {
    font-family: 'Piedra', cursive;
    font-size: 60px;
    margin-bottom: 10px;
}

.Am-text {
    transition: all 0.4s;
}

.Am-text:hover {
    transform: scale(1.1);
}

.Am-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.4s;

}

.Am-img {
    border-radius: 10px;
    z-index: 1;
}

.card {
    box-shadow: -1px -1px 19px #d7d0d0;
    border-radius: 8px !important;
    transition: all 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1)
}


.button-card {
    background: #ef5959;
    color: white;
    transition: all 0.4s;
}

.button-card:hover {
    transform: scale(1.2);
}

.card-btn {
    padding: 10px 35px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    background: #ef5959;
    transition: all 0.4s;
}

.card-btn a {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.card-btn:hover {
    border: 3px solid #ef5959;
    background: white;
}

.card-btn:hover a {
    color: #ef5959
}

.skill-Wrapper {
    background: linear-gradient(#ef5959ba, #ef5959ba), url("bg-header-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

.skill p {
    color: white;
}

.skill {
    transition: all 0.4s;
}


.skill p {
    font-size: 18px;
    font-weight: 700;
}

.skill h3 {
    font-size: 38px;
    /* color: black; */
}

.skill i {
    font-size: 50px;
    background: #fff;
    padding: 15px;
    transition: all 0.4s;
}

.skill:hover i {
    background: black;
    color: #fff;
}

.section-h1 {
    font-family: 'Suez One', serif;
    font-size: 60px;
    color: white;
}

.section-hr {
    width: 100px;
    border: 8px dotted white;
    border-bottom: none;
}

.section-title {
    transition: all 0.4s;
}

.section-title:hover h1 {
    color: rgb(61, 61, 61)
}

.card-heading.text-center {
    padding: 50px;
    color: #ef5959;
}

.db-card-img.col-lg-6 img {
    object-fit: cover;
    width: 400px;
    padding: none;
    padding: 0px 0px;
    border-radius: 10px;
}

/* .db-card{
    margin: 30px 0px;
} */
.db-card {
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 0px;
    box-shadow: 10px 6px 25px #bbbbbb;
}

.db-card-body {
    background: #ef5959;
}

.card-sm-heading h3 {
    text-align: center;
    padding: 30px 0px;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 6px #5a5656;
}

.card-sm-heading p {
    padding: 0px 43px;
    text-align: justify;
    color: white;
}

.card-sm-heading ul {
    margin: 0px 0px 0px 30px;
    padding-top: 10px;
    font-size: 18px;
    color: white;
}

.footer {
    text-align: center;
    margin: 20px 0;
}